.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.vscode/
.idea/
.DS_Store

*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
report/*.aux
report/*.bbl
report/*.blg
report/*.log
report/*.out
report/*.toc
report/*.fls
report/*.fdb_latexmk
report/*.synctex.gz
